<article class="note">
  <p>
    I want to learn Idris. I hope that it can inform making my own language.
  </p>
</article>

<hr>

<article class="note">
  <p>
    Maybe actually F*? Might be more advantageous if I ever want to work at Microsoft.
  </p>

  <p>
    Would be nice to be able to make website with dependent-type language, but
    Haskell with yesod also good.
  </p>
</article>
