<article class="note">
  <h1>Main index for my notes</h1>

  <ul>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="catchment.html">Catchment</a></li>
    <li><a href="notes.html">Notes</a></li>
  </ul>
</article>
