<article class="note">
  <h1>Index to project notes</h1>

  <ul>
    <li><a href="notes.html">Notes</a></li>
    <li><a href="idris.html">Idris</a></li>
    <li>
      Move <a href="https://seyfarth.us">website</a> from python (pyfarth) to
      <a href="haskfarth.html">Haskell</a>, using Yesod.
    </li>
  </ul>
</article>
